body {
  padding: 40px 0 40px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mg-left20{
	margin-left: 20px;
}

.header{
	padding-left: 30px !important;
	margin-bottom: 20px !important;
}
